@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');



font-family: "Lexend Deca", sans-serif;

:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--parrafos:  hsla(0, 0%, 100%, 0.75);
--botones: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-size: 15px;
    font-family: "Big Shoulders Display", sans-serif;
}

.main{
    display: flex;
    width: 920px;
    height: 500px;
    margin: 250px auto;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    
}

.tarjeta{
    width: 33.33%;
    height: 100%;
    padding: 40px;
}



.color-1{
    background-color: hsl(31, 77%, 52%);
}

.color-2{
    background-color: hsl(184, 100%, 22%) ;
}

.color-3{
    background-color: hsl(179, 100%, 13%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}