@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');





:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--parrafos:  hsla(0, 0%, 100%, 0.75);
--botones: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
}

.main{
    display: flex;
    width: 920px;
    height: 500px;
    margin: 250px auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    
}

.tarjeta{
    width: 33.33%;
    height: 100%;
    padding: 40px;
}

 .imagen{
    margin-top: 30px;
    margin-bottom: 30px;
}

.texto{
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.3rem;
    margin-bottom: 30px;
}

.parrafo{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.22rem;
    line-height: 25px;
    margin-bottom: 50px;
}

.boton{
    padding: 15px;
    width: 150px;
    border: none;
    border-radius: 50px;
}



.color-1{
    background-color: hsl(31, 77%, 52%);
}

.color-2{
    background-color: hsl(184, 100%, 22%) ;
}

.color-3{
    background-color: hsl(179, 100%, 13%);
}

.boton-color1{
    color:hsl(31, 77%, 52%) ;
    font-size: 1rem;
    font-weight: 700;
}

.boton-color2{
    color:hsl(184, 100%, 22%) ;
    font-size: 1rem;
    font-weight: 700;
}

.boton-color3{
    color:hsl(179, 100%, 13%); 
    font-size: 1rem;
    font-weight: 700;
}

.attribution { 
    margin-top: -200px;
    font-size: 1.3rem; 
    text-align: center; 
}
.attribution a { 
    font-size: 1.3rem;
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}